In [ ]:
import pandas as pd

file = "refined_excel_data.xlsx"

female_football = pd.read_excel(file, sheet_name="female_football")
male_football = pd.read_excel(file, sheet_name="male_football")

female_running = pd.read_excel(file, sheet_name="female_running")
male_running = pd.read_excel(file, sheet_name="male_running")

female_basketball = pd.read_excel(file, sheet_name="female_basketball")
male_basketball = pd.read_excel(file, sheet_name="male_basketball")

In [4]:
female_football.describe()

,article_id,model_id,last_id,insole_length,ball_girth,ball_width,heel_width,toe_height,heel_spring,too_small,too_large
count,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000
mean,5016.872727,1502.945455,323.600000,276.083636,248.590909,93.180000,66.054545,26.092727,7.372727,0.136228,0.096479
std,3484.562373,1329.426365,133.612707,2.618719,4.001262,1.881331,1.674074,2.151559,2.780917,0.081761,0.056712
min,3.000000,1.000000,17.000000,270.200000,240.500000,91.100000,64.500000,22.800000,1.000000,0.017967,0.007105
25%,1521.000000,347.000000,332.000000,276.800000,245.500000,91.100000,65.000000,24.700000,5.750000,0.088245,0.036525
50%,4877.000000,1118.000000,332.000000,276.800000,249.500000,93.100000,65.500000,25.200000,8.500000,0.118447,0.111668
75%,8318.500000,2494.500000,440.000000,276.900000,250.000000,95.200000,65.500000,27.400000,8.500000,0.184544,0.138095
max,9630.000000,3942.000000,474.000000,279.300000,254.000000,95.800000,70.000000,29.800000,10.500000,0.275299,0.198711

In [5]:
male_football.describe()

,article_id,model_id,last_id,insole_length,ball_girth,ball_width,heel_width,toe_height,heel_spring,too_small,too_large
count,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000
mean,5113.221154,1964.903846,186.932692,275.936538,250.129808,95.294231,67.139423,25.366346,7.918269,0.148970,0.076113
std,2502.662702,1206.764780,128.300411,2.441711,7.686830,2.450949,1.659712,2.435124,2.435688,0.082728,0.056299
min,501.000000,33.000000,6.000000,271.000000,235.000000,91.600000,64.000000,20.600000,4.000000,0.018664,0.003739
25%,3164.000000,773.000000,105.000000,274.575000,250.000000,93.300000,66.000000,24.500000,6.000000,0.074146,0.029865
50%,4943.500000,2227.000000,184.500000,275.500000,250.500000,94.700000,67.000000,25.400000,7.500000,0.140342,0.055207
75%,7368.250000,2808.250000,244.750000,277.325000,257.000000,97.300000,68.500000,27.200000,9.000000,0.235111,0.136208
max,9512.000000,3927.000000,460.000000,281.600000,267.000000,101.800000,71.000000,29.900000,12.500000,0.289599,0.183821

In [6]:
female_running.describe()

,article_id,model_id,last_id,insole_length,ball_girth,ball_width,heel_width,toe_height,heel_spring,too_small,too_large
count,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000
mean,4983.629977,1963.299766,287.367681,275.307260,249.216628,95.983841,65.820843,26.434895,8.854801,0.150183,0.104785
std,2973.668042,1167.263106,118.844073,3.156812,7.319617,3.564614,2.175970,1.634854,2.436758,0.061564,0.044630
min,44.000000,13.000000,12.000000,266.700000,231.500000,87.800000,62.500000,22.500000,4.000000,0.049014,0.026886
25%,2789.500000,969.500000,228.000000,274.000000,244.500000,92.800000,64.000000,25.300000,7.000000,0.102639,0.069167
50%,4894.000000,2018.000000,255.000000,275.400000,249.500000,95.200000,66.000000,26.100000,9.000000,0.131661,0.099138
75%,7540.500000,3019.000000,388.000000,277.100000,254.500000,98.900000,67.500000,28.200000,10.000000,0.211197,0.141803
max,9988.000000,3995.000000,494.000000,281.300000,262.000000,102.400000,70.000000,29.400000,13.000000,0.323275,0.230801

In [7]:
male_running.describe()

,article_id,model_id,last_id,insole_length,ball_girth,ball_width,heel_width,toe_height,heel_spring,too_small,too_large
count,819.000000,819.000000,819.000000,819.000000,819.000000,819.000000,819.000000,819.000000,819.000000,819.000000,819.000000
mean,5044.310134,2008.263736,246.009768,275.552137,249.299145,95.408303,65.974969,25.951160,9.051282,0.170664,0.096902
std,2829.736099,1141.680224,140.899572,2.321612,6.186705,2.421926,1.935146,1.820283,3.361356,0.074425,0.052971
min,9.000000,18.000000,18.000000,268.900000,232.000000,88.500000,61.500000,20.400000,1.500000,0.004164,0.000631
25%,2731.000000,965.000000,102.000000,273.600000,245.500000,93.600000,64.500000,24.800000,7.000000,0.121091,0.055070
50%,4906.000000,2119.000000,298.000000,275.600000,249.500000,95.200000,66.000000,25.600000,8.500000,0.166205,0.094581
75%,7440.000000,2990.000000,345.000000,277.200000,253.750000,97.100000,67.500000,26.800000,11.000000,0.223089,0.130013
max,9981.000000,3989.000000,495.000000,281.500000,261.500000,101.000000,71.500000,30.200000,17.000000,0.338123,0.245629

In [8]:
female_basketball.describe()

,article_id,model_id,last_id,insole_length,ball_girth,ball_width,heel_width,toe_height,heel_spring,too_small,too_large
count,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000
mean,5479.511538,1838.038462,211.796154,275.878077,250.605769,97.583462,67.028846,25.073077,8.282692,0.185838,0.313013
std,2773.477718,1208.829492,150.062383,3.554976,6.990297,3.597467,1.537226,1.533628,2.907833,0.060136,0.085612
min,25.000000,26.000000,10.000000,271.500000,240.000000,92.200000,64.000000,22.200000,3.500000,0.034376,0.141134
25%,3145.000000,692.750000,31.000000,273.800000,246.000000,94.300000,65.500000,23.400000,6.000000,0.153543,0.255074
50%,5494.500000,1823.000000,246.000000,274.000000,250.000000,97.900000,67.000000,24.900000,7.500000,0.198954,0.325582
75%,7696.250000,2901.000000,306.000000,278.200000,257.000000,99.400000,68.000000,26.400000,11.500000,0.227968,0.389817
max,9972.000000,3979.000000,461.000000,282.700000,265.000000,103.800000,71.500000,30.400000,12.500000,0.286132,0.426761

In [9]:
male_basketball.describe()

,article_id,model_id,last_id,insole_length,ball_girth,ball_width,heel_width,toe_height,heel_spring,too_small,too_large
count,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000
mean,5246.283562,2077.013699,261.200000,275.966575,251.552740,96.901781,66.571233,26.238082,8.673973,0.155293,0.325904
std,2829.195903,1167.807933,157.240045,3.663909,6.587568,2.492911,1.925675,1.913321,2.274510,0.061350,0.070628
min,43.000000,22.000000,26.000000,269.700000,239.000000,93.800000,60.500000,22.000000,2.500000,0.013716,0.130075
25%,3047.250000,994.000000,95.000000,273.600000,246.000000,94.500000,65.500000,24.900000,7.000000,0.116214,0.282450
50%,5283.500000,2234.000000,267.000000,276.600000,250.500000,96.100000,67.000000,26.400000,9.000000,0.164408,0.342875
75%,7731.250000,3084.000000,395.000000,278.400000,257.000000,100.000000,68.000000,27.500000,10.500000,0.197827,0.377025
max,9987.000000,3994.000000,497.000000,282.100000,265.500000,101.800000,70.000000,30.900000,13.500000,0.313702,0.487864

## Football

In [10]:
custom_percentiles = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]
description = female_football.describe(percentiles=custom_percentiles)
description

,article_id,model_id,last_id,insole_length,ball_girth,ball_width,heel_width,toe_height,heel_spring,too_small,too_large
count,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000
mean,5016.872727,1502.945455,323.600000,276.083636,248.590909,93.180000,66.054545,26.092727,7.372727,0.136228,0.096479
std,3484.562373,1329.426365,133.612707,2.618719,4.001262,1.881331,1.674074,2.151559,2.780917,0.081761,0.056712
min,3.000000,1.000000,17.000000,270.200000,240.500000,91.100000,64.500000,22.800000,1.000000,0.017967,0.007105
10%,991.400000,111.800000,84.000000,270.900000,242.500000,91.100000,65.000000,24.700000,2.600000,0.037583,0.019223
20%,1339.800000,187.000000,332.000000,276.800000,244.000000,91.100000,65.000000,24.700000,5.000000,0.052023,0.028562
30%,1702.200000,462.800000,332.000000,276.800000,245.500000,91.100000,65.500000,24.700000,7.500000,0.094772,0.039585
40%,3118.600000,714.000000,332.000000,276.800000,249.500000,92.000000,65.500000,24.700000,8.000000,0.108207,0.103496
50%,4877.000000,1118.000000,332.000000,276.800000,249.500000,93.100000,65.500000,25.200000,8.500000,0.118447,0.111668
60%,7325.400000,1505.000000,358.000000,276.900000,249.500000,93.900000,65.500000,26.100000,8.500000,0.125913,0.119679
70%,8140.600000,2123.000000,378.000000,276.900000,249.500000,95.000000,65.500000,26.100000,8.500000,0.172065,0.131646
80%,9065.600000,2862.600000,440.000000,277.540000,254.000000,95.200000,66.200000,28.500000,8.500000,0.239446,0.148345
90%,9216.600000,3665.400000,450.200000,278.100000,254.000000,95.500000,69.800000,29.800000,10.500000,0.265315,0.167468
max,9630.000000,3942.000000,474.000000,279.300000,254.000000,95.800000,70.000000,29.800000,10.500000,0.275299,0.198711

In [11]:
description = male_football.describe(percentiles=custom_percentiles)
description

,article_id,model_id,last_id,insole_length,ball_girth,ball_width,heel_width,toe_height,heel_spring,too_small,too_large
count,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000
mean,5113.221154,1964.903846,186.932692,275.936538,250.129808,95.294231,67.139423,25.366346,7.918269,0.148970,0.076113
std,2502.662702,1206.764780,128.300411,2.441711,7.686830,2.450949,1.659712,2.435124,2.435688,0.082728,0.056299
min,501.000000,33.000000,6.000000,271.000000,235.000000,91.600000,64.000000,20.600000,4.000000,0.018664,0.003739
10%,1917.900000,135.000000,6.000000,272.700000,237.000000,92.400000,64.500000,20.600000,4.500000,0.041504,0.011776
20%,3085.600000,437.000000,75.000000,274.200000,242.500000,93.300000,66.000000,23.600000,6.000000,0.055375,0.020830
30%,3478.400000,1479.000000,121.000000,274.800000,250.000000,94.400000,66.500000,25.300000,6.900000,0.105086,0.037756
40%,3825.200000,1881.200000,161.000000,275.500000,250.000000,94.600000,66.500000,25.300000,7.500000,0.125854,0.047822
50%,4943.500000,2227.000000,184.500000,275.500000,250.500000,94.700000,67.000000,25.400000,7.500000,0.140342,0.055207
60%,6168.600000,2344.800000,227.000000,275.500000,251.300000,94.700000,68.000000,26.100000,8.000000,0.151704,0.071810
70%,6510.200000,2760.000000,244.000000,276.100000,253.000000,96.800000,68.500000,26.500000,9.000000,0.214793,0.125851
80%,7752.400000,3020.000000,248.000000,278.000000,259.000000,97.600000,68.500000,27.720000,10.500000,0.243610,0.145034
90%,8398.700000,3601.400000,434.000000,279.100000,259.000000,97.600000,69.000000,28.100000,12.000000,0.258604,0.158707
max,9512.000000,3927.000000,460.000000,281.600000,267.000000,101.800000,71.000000,29.900000,12.500000,0.289599,0.183821

## BasketBall

In [12]:
description = female_basketball.describe(percentiles=custom_percentiles)
description

,article_id,model_id,last_id,insole_length,ball_girth,ball_width,heel_width,toe_height,heel_spring,too_small,too_large
count,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000,260.000000
mean,5479.511538,1838.038462,211.796154,275.878077,250.605769,97.583462,67.028846,25.073077,8.282692,0.185838,0.313013
std,2773.477718,1208.829492,150.062383,3.554976,6.990297,3.597467,1.537226,1.533628,2.907833,0.060136,0.085612
min,25.000000,26.000000,10.000000,271.500000,240.000000,92.200000,64.000000,22.200000,3.500000,0.034376,0.141134
10%,1648.900000,121.000000,20.000000,271.600000,240.500000,93.230000,65.000000,23.200000,4.000000,0.081058,0.171344
20%,2321.400000,549.000000,31.000000,272.880000,242.500000,94.300000,65.500000,23.400000,6.000000,0.140836,0.245351
30%,3635.700000,924.000000,31.000000,273.800000,247.750000,95.210000,65.500000,24.300000,6.000000,0.165406,0.265735
40%,4818.600000,1511.000000,246.000000,274.000000,248.500000,97.900000,67.000000,24.900000,7.500000,0.187640,0.283419
50%,5494.500000,1823.000000,246.000000,274.000000,250.000000,97.900000,67.000000,24.900000,7.500000,0.198954,0.325582
60%,6394.400000,2159.000000,279.000000,276.600000,250.000000,97.900000,68.000000,25.100000,10.000000,0.209091,0.374836
70%,7348.300000,2758.000000,279.000000,276.900000,257.000000,99.400000,68.000000,26.400000,10.000000,0.221952,0.383986
80%,8697.200000,3160.600000,350.000000,278.200000,260.000000,99.400000,68.500000,26.400000,11.500000,0.239612,0.395385
90%,9176.200000,3456.000000,454.000000,282.700000,260.000000,103.800000,68.500000,26.500000,12.500000,0.254976,0.403619
max,9972.000000,3979.000000,461.000000,282.700000,265.000000,103.800000,71.500000,30.400000,12.500000,0.286132,0.426761

In [13]:
description = male_basketball.describe(percentiles=custom_percentiles)
description

,article_id,model_id,last_id,insole_length,ball_girth,ball_width,heel_width,toe_height,heel_spring,too_small,too_large
count,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000
mean,5246.283562,2077.013699,261.200000,275.966575,251.552740,96.901781,66.571233,26.238082,8.673973,0.155293,0.325904
std,2829.195903,1167.807933,157.240045,3.663909,6.587568,2.492911,1.925675,1.913321,2.274510,0.061350,0.070628
min,43.000000,22.000000,26.000000,269.700000,239.000000,93.800000,60.500000,22.000000,2.500000,0.013716,0.130075
10%,997.200000,500.000000,66.000000,270.000000,244.500000,94.000000,64.000000,24.100000,5.500000,0.058241,0.211763
20%,2536.800000,744.000000,80.000000,271.900000,245.000000,94.400000,65.500000,24.500000,6.500000,0.100978,0.268491
30%,3532.700000,1183.000000,110.000000,274.500000,246.500000,95.200000,66.000000,25.200000,7.500000,0.130357,0.301598
40%,4446.800000,1687.000000,176.000000,275.400000,247.000000,95.500000,67.000000,25.700000,8.000000,0.152091,0.328841
50%,5283.500000,2234.000000,267.000000,276.600000,250.500000,96.100000,67.000000,26.400000,9.000000,0.164408,0.342875
60%,6254.400000,2615.000000,337.000000,276.600000,255.000000,97.100000,67.000000,26.700000,9.500000,0.178250,0.359340
70%,7163.300000,2910.000000,385.000000,277.600000,256.000000,99.100000,67.500000,27.500000,10.000000,0.190363,0.371512
80%,8266.000000,3270.000000,453.000000,279.100000,257.500000,100.000000,68.000000,27.600000,10.500000,0.205096,0.384364
90%,8969.100000,3599.000000,467.700000,281.600000,261.500000,100.400000,68.500000,28.900000,11.500000,0.224065,0.396572
max,9987.000000,3994.000000,497.000000,282.100000,265.500000,101.800000,70.000000,30.900000,13.500000,0.313702,0.487864

## Running

In [14]:
description = female_running.describe(percentiles=custom_percentiles)
description

,article_id,model_id,last_id,insole_length,ball_girth,ball_width,heel_width,toe_height,heel_spring,too_small,too_large
count,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000
mean,4983.629977,1963.299766,287.367681,275.307260,249.216628,95.983841,65.820843,26.434895,8.854801,0.150183,0.104785
std,2973.668042,1167.263106,118.844073,3.156812,7.319617,3.564614,2.175970,1.634854,2.436758,0.061564,0.044630
min,44.000000,13.000000,12.000000,266.700000,231.500000,87.800000,62.500000,22.500000,4.000000,0.049014,0.026886
10%,821.600000,359.000000,114.000000,273.300000,240.000000,91.900000,62.500000,24.300000,5.000000,0.085193,0.049537
20%,1985.000000,768.800000,218.000000,273.300000,244.500000,92.800000,64.000000,25.300000,7.000000,0.095876,0.064417
30%,3053.800000,1098.600000,232.000000,274.000000,246.000000,93.400000,64.000000,25.500000,7.500000,0.109652,0.074334
40%,3874.200000,1383.000000,238.000000,274.500000,249.000000,94.500000,65.500000,25.900000,8.500000,0.119321,0.084508
50%,4894.000000,2018.000000,255.000000,275.400000,249.500000,95.200000,66.000000,26.100000,9.000000,0.131661,0.099138
60%,6146.600000,2356.200000,368.000000,275.700000,249.500000,96.800000,66.500000,27.000000,9.000000,0.143470,0.114033
70%,6599.200000,2771.400000,387.000000,277.100000,254.000000,97.900000,66.500000,27.900000,9.500000,0.160058,0.133930
80%,8222.600000,3232.000000,388.000000,277.800000,257.300000,98.900000,67.500000,28.200000,10.000000,0.223415,0.146790
90%,9326.400000,3540.000000,417.000000,280.400000,260.000000,101.500000,69.500000,28.400000,13.000000,0.242447,0.166386
max,9988.000000,3995.000000,494.000000,281.300000,262.000000,102.400000,70.000000,29.400000,13.000000,0.323275,0.230801

In [15]:
description = male_running.describe(percentiles=custom_percentiles)
description

,article_id,model_id,last_id,insole_length,ball_girth,ball_width,heel_width,toe_height,heel_spring,too_small,too_large
count,819.000000,819.000000,819.000000,819.000000,819.000000,819.000000,819.000000,819.000000,819.000000,819.000000,819.000000
mean,5044.310134,2008.263736,246.009768,275.552137,249.299145,95.408303,65.974969,25.951160,9.051282,0.170664,0.096902
std,2829.736099,1141.680224,140.899572,2.321612,6.186705,2.421926,1.935146,1.820283,3.361356,0.074425,0.052971
min,9.000000,18.000000,18.000000,268.900000,232.000000,88.500000,61.500000,20.400000,1.500000,0.004164,0.000631
10%,1210.400000,392.000000,32.000000,272.500000,240.500000,92.800000,63.500000,24.000000,5.500000,0.066410,0.027899
20%,2193.000000,807.000000,99.000000,273.600000,244.000000,93.500000,64.000000,24.500000,6.500000,0.109442,0.048485
30%,3222.400000,1225.000000,147.000000,274.100000,246.000000,94.300000,64.500000,25.020000,7.500000,0.132528,0.061459
40%,3967.200000,1744.000000,203.000000,274.800000,247.500000,94.900000,65.500000,25.500000,8.000000,0.148663,0.079602
50%,4906.000000,2119.000000,298.000000,275.600000,249.500000,95.200000,66.000000,25.600000,8.500000,0.166205,0.094581
60%,6056.400000,2428.200000,314.000000,275.900000,251.500000,95.500000,66.500000,26.400000,10.000000,0.182158,0.106501
70%,6752.600000,2787.000000,341.000000,276.800000,253.000000,96.600000,67.000000,26.700000,10.500000,0.207750,0.121535
80%,8005.000000,3231.000000,366.000000,277.600000,255.000000,97.500000,67.500000,27.600000,11.500000,0.241213,0.141898
90%,9152.400000,3490.000000,443.000000,278.600000,256.500000,98.400000,69.000000,28.300000,13.000000,0.277381,0.177268
max,9981.000000,3989.000000,495.000000,281.500000,261.500000,101.000000,71.500000,30.200000,17.000000,0.338123,0.245629